# .gitignore
!*.JSON-tmLanguage
!*.YAML-tmLanguage
$RECYCLE.BIN/
*$py.class
*,cover
*.7z
*.a
*.app
*.ar
*.bz2
*.bzip
*.cab
*.cmd
*.cpio
*.d
*.deb
*.dll
*.dmg
*.DS_Store
*.dSYM/
*.dylib
*.egg
*.egg-info/
*.elf
*.exe
*.exp
*.gch
*.gem
*.gz
*.hex
*.i*86
*.idb
*.ilk
*.iso
*.jar
*.ko
*.la
*.lai
*.LBR
*.lbr
*.lib
*.lnk
*.lo
*.log
*.lzma
*.manifest
*.map
*.mar
*.mo
*.mod
*.mod*
*.msi
*.msm
*.msp
*.o
*.obj
*.out
*.pch
*.pdb
*.pot
*.py[cod]
*.rar
*.rpm
*.shar
*.slo
*.smod
*.so
*.so.*
*.spec
*.stTheme.cache
*.su
*.sublime-workspace
*.tar
*.tm*
*.tmLanguage
*.tmlanguage.cache
*.tmPreferences.cache
*.tmproj
*.tmproject
*.x86_64
*.xpi
*.xz
*.zip
*~
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.directory
.DocumentRevisions-V100
.eggs/
.env
.fseventsd
.fuse_hidden*
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.LSOverride
.netrwhist
.nfs*
.Python
.python-version
.ropeproject
.scrapy
.Spotlight-V100
.spyderproject
.TemporaryItems
.tox/
.Trash-*
.Trashes
.venv/
.VolumeIcon.icns
.webassets-cache
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
__pycache__/
bh_unicode_properties.cache
build/
bundles/
celerybeat-schedule
coverage.xml
Desktop.ini
develop-eggs/
dist/
dkms.conf
docs/_build/
downloads/
eggs/
ehthumbs.db
env/
ENV/
GitHub.sublime-settings
htmlcov/
Icon
instance/
lib/
lib64/
local_settings.py
Mkfile.old
Module.symvers
modules.order
Network Trash Folder
nosetests.xml
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run
Package Control.system-ca-bundle
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
Session.vim
sftp-config.json
tags
target/
Temporary Items
Thumbs.db
tmtags
var/
venv/
