# .gitignore
!*.YAML-tmLanguage
!*.JSON-tmLanguage
!*.tmLanguage
!/.mvn/wrapper/maven-wrapper.jar
!Build/
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!TAGS/
!tags/
#(r)(e)ledmac/(r)(e)ledpar
#*.css
#*.eps
#*.fmt
#*.iml
#*.ipr
#*.mid
#*.midi
#*.pdf
#*.ps
#*.sublime-project
#.apng
#.bmp
#.env
#.gif
#.ico
#.idea/misc.xml 
#.jfi
#.jfif
#.jif
#.jpe
#.jpeg
#.jpg
#.png
#.ruby-gemset
#.ruby-version
#.svg
#.svgz
#.tif
#.tiff
#Carthage/Checkouts
#config/secrets.yml
#Gemfile.lock
#LICENSE.html
#LICENSE.txt
#LICENSE_AFL.txt
#modules.xml
#Pods/
#vendor/Pods/
#*.tm*
#*.tmLanguage
*.tmlanguage.cache
*.tmPreferences.cache
*.tmproj
*.tmproject
*.JSON-tmLanguage
$RECYCLE.BIN/
*$py.class
**.orig
**/CVS/*
*,cover
*-blx.aux
*-blx.bib
*-concordance.tex
*-converted-to.*
*-Ex.R
*-gnuplottex-*
*-tikzDictionary
*.7z
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9][0-9][0-9]R
*.[1-9][0-9]R
*.[1-9]R
*.[568vq]
*.a
*.acn
*.acr
*.aep
*.ai
*.aif
*.alg
*.app
*.ar
*.asv
*.autosave
*.aux
*.auxlock
*.avi
*.backup
*.bak
*.bat
*.bbl
*.bcf
*.blg
*.bowerrc
*.brf
*.bridgesupport
*.bs
*.btm
*.bz2
*.bzip
*.cab
*.cb
*.cb2
*.cgo1.go
*.cgo2.c
*.class
*.cmd
*.cpio
*.cpt
*.css.map
*.d
*.db
*.deb
*.def
*.dll
*.dmg
*.DotSettings
*.dpth
*.DS_Store
*.dSYM
*.dSYM.zip
*.dSYM/
*.dvi
*.dylib
*.ear
*.egg
*.egg-info/
*.eledsec[1-9]
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
*.eledsec[1-9][0-9]R
*.eledsec[1-9]R
*.elf
*.end
*.epub
*.exe
*.exp
*.fdb_latexmk
*.fff
*.fls
*.fot
*.gaux
*.gch
*.gem
*.glg
*.glo
*.gls
*.glsdefs
*.gtex
*.gz
*.hex
*.hmap
*.i*86
*.idb
*.idx
*.ilg
*.ilk
*.ind
*.indd
*.ipa
*.iso
*.ist
*.iws
*.jar
*.knit.md
*.ko
*.la
*.lai
*.launch
*.LBR
*.lbr
*.lib
*.lnk
*.lo
*.loa
*.lod
*.loe
*.lof
*.log
*.lol
*.lot
*.lox
*.lyx#
*.lyx~
*.lzma
*.maf
*.manifest
*.map
*.mar
*.md5
*.mex*
*.mf
*.mlf
*.mlt
*.mo
*.mobi
*.moc
*.mod
*.mod*
*.mode1v3
*.mode2v3
*.moved-aside
*.mp
*.mp3
*.msi
*.msm
*.msp
*.mtc
*.mtc[0-9]
*.mtc[1-9][0-9]
*.mw
*.m~
*.nav
*.nlo
*.o
*.obj
*.orig
*.os
*.otf
*.out
*.pbxuser
*.pch
*.pcm
*.pdb
*.pdf
*.pdfsync
*.perspectivev3
*.pfa
*.pfb
*.pid
*.pid.lock
*.pot
*.pro.user
*.pro.user.*
*.prof
*.prproj
*.psd
*.pt3
*.py[cod]
*.pyc
*.pydevproject
*.pyg
*.pytxcode
*.qbs.user
*.qbs.user.*
*.qmlproject.user
*.qmlproject.user.*
*.rar
*.rbc
*.rdb
*.rpm
*.run.xml
*.sagetex.py
*.sagetex.sage
*.sagetex.scmd
*.sav
*.seed
*.sfd-* 
*.sfd~
*.shar
*.slo
*.smod
*.snm
*.so
*.so.*
*.sout
*.spec
*.src.rock
*.stTheme.cache
*.su
*.sublime-workspace
*.suit
*.swp
*.sympy
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.t[1-9]
*.t[1-9][0-9]
*.tar
*.tar.gz
*.tdo
*.test
*.tfm
*.tgz
*.thm
*.tikz
*.tmp
*.toc
*.ttc
*.ttf
*.ttt
*.upa
*.upb
*.utf8.md
*.vrb
*.war
*.wav
*.woff
*.wrt
*.x86_64
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.xdy
*.xlk
*.xpi
*.xyc
*.xz
*.zip
*.~vsdx
*/.cvsignore
*build-*
*copy.mus
*~
*~.nib
*~[0-9]*
._*
.actionScriptProperties
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.build/
.buildpath
.byebug_history
.cache
.classpath
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.cproject
.cvsignore
.dat*
.dib
.directory
.DocumentRevisions-V100
.dropbox
.dropbox.attr
.dropbox.cache
.DS_Store
.eggs/
.ensime
.ensime_cache/
.env
.eslintcache
.externalToolBuilders
.externalToolBuilders/
.factorypath
.flexLibProperties
.flexProperties
.FlexUnitSettings
.fseventsd
.fuse_hidden*
.grunt
.hdp
.hg/
.hgignore
.hgsigs
.hgsub
.hgsubstate
.hgtags
.history
.htaccess.sample
.httr-oauth
.hypothesis/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/dynamic.xml
.idea/gradle.xml
.idea/libraries
.idea/mongoSettings.xml
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.j2k
.jekyll-metadata
.jp2
.jpf
.jpm
.jpx
.jxr
.last_cover_stats
.lib/
.loadpath
.lock-wscript
.LSOverride
.metadata
.mj2
.mng
.model
.modgit/
.modman/
.mtj.tmp/
.mvn/timing.properties
.netrwhist
.nfs*
.ninja_deps
.ninja_log
.node_repl_history
.npm
.nyc_output
.pdf
.powenv
.project
.project/
.Python
.python-version
.Rapp.history
.raw
.RData
.recommenders
.recommenders/
.repl_history
.Rhistory
.ropeproject
.Rproj.user/
.rspec
.rvmrc
.sass-cache/
.scala_dependencies
.sconsign.dblite
.scrapy
.settings/
.Spotlight-V100
.springBeans
.spyderproject
.svn/
.TAGS
.tags
.target
.TemporaryItems
.tern-project
.texlipse
.texpadtmp
.tox/
.Trash-*
.Trashes
.vagrant/
.venv
.venv/
.VolumeIcon.icns
.wdp
.webassets-cache
.webp
.worksheet
.xbm
.yarn-integrity
.~lock.*#
/*.Rcheck/
/*.tar.gz
/*_cache/
/.build/
/.bundle
/.bundle/
/.config
/.htaccess
/.qmake.cache
/.qmake.stash
/.yardoc/
/_eumm/
/_yardoc/
/api.php
/auto/*
/blib/
/cache/
/coverage/
/cron.php
/CVS/*
/db/*.sqlite3
/db/*.sqlite3-journal
/doc/
/get.php
/index.php
/install.php
/InstalledFiles
/lib/bundler/man/
/license.txt
/log
/mage
/Makefile
/Makefile.old
/MANIFEST.bak
/META.json
/META.yml
/MYMETA.*
/out/
/pkg/
/pm_to_blib
/public/system
/rdoc/
/readme.html
/sitemap.xml
/sitemap.xml.gz
/spec/examples.txt
/spec/reports/
/spec/tmp
/test/tmp/
/test/version_tmp/
/tmp
/tmp/
/vendor/assets/bower_components
/vendor/bundle
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
[568vq].out
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
__pycache__/
_book
_build/
_builds
_cache
_cgo_defun.c
_cgo_export.*
_cgo_gotypes.go
_minted*
_obj
_projects
_site/
_steps
_test
_testmain.go
acs-*.bib
app/.htaccess
app/bootstrap.php
app/code/community/Cm/RedisSession/
app/code/community/Phoenix/Moneybookers/
app/code/core/
app/design/adminhtml/default/default/
app/design/frontend/base/
app/design/frontend/default/blank/
app/design/frontend/default/default/
app/design/frontend/default/iphone/
app/design/frontend/default/modern/
app/design/frontend/enterprise/default
app/design/frontend/rwd/
app/design/install/
app/etc/applied.patches.list
app/etc/config.xml
app/etc/enterprise.xml
app/etc/local.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/etc/modules/Cm_RedisSession.xml
app/etc/modules/Enterprise_*
app/etc/modules/Mage_*.xml
app/etc/modules/Phoenix_Moneybookers.xml
app/locale/en_US/
app/Mage.php
applet
application.linux32
application.linux64
application.macosx
application.windows32
application.windows64
atlassian-ide-plugin.xml
bh_unicode_properties.cache
bin-debug/
bin-release/
bin/
bower.json
Build
build-iPhoneOS/
build-iPhoneSimulator/
Build.bat
build/
build/Release
buildNumber.properties
bundles/
capybara-*.html
Carthage/Build
celerybeat-schedule
CMakeLists.txt.user*
com_crashlytics_export_strings.xml
config/initializers/secret_token.rb
cover_db/
coverage
coverage.xml
crashlytics-build.properties
crashlytics.properties
cron.sh
cscope.files
cscope.in.out
cscope.out
cscope.po.out
db.sqlite3
dependency-reduced-pom.xml
DerivedData/
Desktop.ini
dev/.htaccess
dev/tests/functional
dev/tests/functional/
develop-eggs/
dist/
dist/*
dkms.conf
docs/_build/
downloader/
downloads/
eggs/
ehthumbs.db
env/
ENV/
errors/
fabric.properties
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
favicon.ico
GitHub.sublime-settings
GPATH
GRTAGS
GSYMS
GTAGS
gtags.files
hs_err_pid*
htmlcov/
Icon
inc/
includes/
index.php.sample
instance/
iOSInjectionProject/
js/blank.html
js/calendar/
js/enterprise/
js/extjs/
js/firebug/
js/flash/
js/index.php
js/jscolor/
js/lib/
js/mage/
js/prototype/
js/scriptaculous/
js/spacer.gif
js/tiny_mce/
js/varien/
jspm_packages
lib-cov
lib/
lib/.htaccess
lib/3Dsecure/
lib/Apache/
lib/Cm/
lib/Credis/
lib/flex/
lib/googlecheckout/
lib/LinLibertineFont/
lib/Mage/
lib/Magento/
lib/PEAR/
lib/Pelago/
lib/phpseclib/
lib/Varien/
lib/Zend/
lib64/
lib_managed/
LICENSE_EE*
local-patch
local.properties
local_settings.py
logs
luac.out
Makefile*
media
media/
Mkfile.old
moc_*.cpp
Module.symvers
modules.order
nbproject/
Network Trash Folder
node_modules
nosetests.xml
npm-debug.log*
nytprof.out
octave-workspace
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run
Package Control.system-ca-bundle
parts/
patched-src
pear
pear/
php.ini.sample
pickle-email-*.html
pids
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
pkginfo/
playground.xcworkspace
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
project/boot/
project/plugins/project/
pythontex-files-*/
pyvenv.cfg
qrc_*.cpp
release.properties
RELEASE_NOTES.txt
rerun.txt
sdist/
secring.*
Session.vim
sftp-config.json
shell/.htaccess
shell/abstract.php
shell/compiler.php
shell/indexer.php
shell/log.php
sitemap.xml
skin/adminhtml/default/default/
skin/adminhtml/default/enterprise
skin/frontend/base/
skin/frontend/default/blank/
skin/frontend/default/blue/
skin/frontend/default/default/
skin/frontend/default/french/
skin/frontend/default/german/
skin/frontend/default/iphone/
skin/frontend/default/modern/
skin/frontend/enterprise
skin/frontend/rwd/
skin/install/
slprj/
src_managed/
sympy-plots-for-*.tex/
tags
TAGS
target/
Temporary Items
Thumbs.db
timeline.xctimeline
tmp/
tmtags
TSWLatexianTemp*
ui_*.h
var/
vendor/
venv/
vignettes/*.html
vignettes/*.pdf
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/plugins/hello.php
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
xcuserdata/
~$*.doc*
~$*.ppt*
~$*.xls*
